.container-search {​​
    min-height: 71vh;
    margin: 0;
}​​

#background2 {​​
    background: url(/assets/images/background_2.JPG);
    height: 100%;
    min-height: 96vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
    padding: 0;
}​​

.contentBox {​​
    padding-top: 2rem;
    padding-bottom: 2rem;
}​​

.card-title-home {​​
    padding-top: .75rem;
}​​

.card-img,
.card-img-top {​​
    padding: 5%;
}​​