<div id="background1">
    <div class="container-fluid contentBox">
        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-6">
            <div class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">Nombre Pokemon</h5>
                    <img src="assets/images/pokemonTest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción corta del pokemon</p>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver más...</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">Nombre Pokemon</h5>
                    <img src="assets/images/pokemonTest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción corta del pokemon</p>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver más...</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">Nombre Pokemon</h5>
                    <img src="assets/images/pokemonTest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción corta del pokemon</p>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver más...</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">Nombre Pokemon</h5>
                    <img src="assets/images/pokemonTest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción corta del pokemon</p>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver más...</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">Nombre Pokemon</h5>
                    <img src="assets/images/pokemonTest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción corta del pokemon</p>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver más...</button>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">Nombre Pokemon</h5>
                    <img src="assets/images/pokemonTest.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Descripción corta del pokemon</p>
                        <button type="button" class="btn btn-secondary btn-lg btn-block">Ver más...</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
