<div id="background1">
    <div class="container-fluid contentBox">
        <div class="row row-cols-1 row-cols-md-3 row-cols-xl-6">

            <div *ngFor="let pokemon of pokemones" class="col mb-4">
                <div class="card h-100">
                    <h5 class="card-title-home text-center">{{pokemon.name | capitalizado}}</h5>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{((pokemon.url).split('/').splice(6,7,1))[0] }}.png" class="card-img-top" alt="{{pokemon.name}}">
                    <div class="card-body">
                        <a href="/card/{{((pokemon.url).split('/').splice(6,7,1))[0] }}" type="button" class="btn btn-secondary btn-lg btn-block">Ver Detalles</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
