<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand titulo" href="/home">Pokepedia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#footer" target="_blank">Nosotros</a>
                  <a class="dropdown-item" href="https://pokeapi.co/" target="_blank">PokeAPI</a>
                  <a class="dropdown-item" href="https://github.com/jcnavarroh/pokepedia" target="_blank">Repositorio Pokepedia</a>
              </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <input #buscar class="form-control mr-sm-2" (keyup)="buscarPokemon(buscar.value)" type="text" placeholder="Buscar Pokemon">
          <a class="btn boton-naranja my-2 my-sm-0 " (click)="buscarPokemon(buscar.value)">Buscar</a>
      </form>
  </div>
</nav>
