<div class="container">
    <section>
        <h1 class="text-center mt-3">Pokemon Detail</h1>
        <hr class="horizontal-line-title">
        <div class="row mt-5">
            <div class="col-md-4">
                <p class="section1-title">Información Principal</p>
                <p><strong>Name: </strong> {{pokemon.name}}</p>
                <p><strong>Base experience: </strong>{{pokemon.base_experience}}</p>
                <p><strong>Height: </strong>{{pokemon.height}}</p>
                <p><strong>Weight: </strong>{{pokemon.weight}}</p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img [src]="pokemon.front_photo" width="60%" alt="pokemon" style="margin-left: 20%;">
                </div>
            </div>
            <div class="col-md-4" style="padding-left: 5%;">
                <p class="section1-title">Habilidades</p>
                <p *ngFor="let a of habilidades">{{a.name}}</p>

            </div>
        </div>
    </section>
    <section>
        <h2 class="mt-5">Carousel de Sprites</h2>
        <hr class="horizontal-line-subtitle1">
        <div class="row mt-5">
            <div class="col-md-4 offset-md-4">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="pokemon.front_photo" class="w-100" alt="...">
                        </div>
                        <div class="carousel-item" *ngFor="let s of sprites">
                            <img [src]="s" class="w-100" alt="...">
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2 class="mt-5">Versiones del pokemon</h2>
        <hr class="horizontal-line-subtitle2">
        <div class="row">
            <div class="col-lg-2 text-center" *ngFor="let version of versiones">
                <div class="card card-version my-4">
                    <img [src]="version" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{version.nombre}}</h5>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>