<div class="container">
    <div class="row mt-5">
        <div class="col-md-4"><p>Información Principal</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad repudiandae amet numquam, nam tempore nesciunt porro veritatis, maiores tempora alias. Fugit culpa pariatur mollitia suscipit quasi omnis illo corrupti? </p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://visualpharm.com/assets/494/Portrait-595b40b75ba036ed117d834e.svg" alt="pokemon">
            </div>
        </div>
        <div class="col-md-4">
            <p>Habilidades</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat minima illo quia, placeat asperiores repellendus nostrum? Facilis voluptatem a eos cum aut odit accusamus. Veniam cupiditate asperiores repudiandae inventore consequuntur.</p>
        </div>
    </div>
</div>