<footer>
    <div class="footer-container">
        <div class="footer-main">

            <div class="footer-columna">
                <h3>¿Quienes somos?</h3>
                <p>Un grupo creado por alumnos del poli
                    <br/>Con el entusiasmo de sacar un excelente trabajo :)
                </p>
            </div>

            <div class="footer-columna">
                <h3>Integrantes</h3>
                <h6>
                    <i>Claudia celis Palacio. cod 1811022446
                        <br/>Jarinson Campas Escorcia. cod 1811027457
                        <br/>Edwin Erley Quevedo Sierra. cod 1411020447
                        <br/>Jorje Alberto Perea Charris. cod 1811020747
                        <br/>Juan Camilo Navarro Herrera. cod 1811023228
                    </i>
                </h6>
            </div>

            <div class="footer-columna">
                <h3>Sobre Nosotros</h3>
                <p>En este momento somos un grupo de estudiantes de ingenieria de software

                    <br/>Con muchos deseos de salir adelante y para eso presentamos este trabajo hecho con la mayor dedicación
                    <br/>Aprendiendo cada dia mas acerca del mundo del desarrollo web
                </p>
            </div>
        </div>
    </div>

    <div class="footer-copy-redes">
        <div class="main-copy-redes">
            <div class="footer-copy">
                &copy; Facultad de Ingenieria - Modulo FrontEnd.
            </div>
            <div class="footer-redes">
                <a href="https://es-la.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com"> <i class="fab fa-instagram"></i> </a>
                <a href="https://github.com/jcnavarroh/pokepedia"> <i class="fab fa-github"></i> </a>
            </div>
        </div>
    </div>
</footer>